<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hunger Apps - Restaurant Catalog</title>
    <link rel="icon" href="./favicon.jpg" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to content</a>

    <header>
      <nav class="nav">
        <button id="nav__toggle">☰</button>
        <h1 class="nav__title">Hunger Apps</h1>
        <ul class="nav__list">
          <li class="nav__item"><a href="#/">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item">
            <a href="https://github.com/muhammadfariddd">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="maincontent"></main>

    <footer>
      <p>Copyright &copy; 2024 - Hunger Apps</p>
    </footer>

    <script src="scripts/index.js"></script>
  </body>
</html>
